*{
    margin: 0%;
    padding: 0%;
}
.nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: black;
    color: #ffff;
}
.left{
    display: flex;
    align-items: center;
    width: 60%;
    justify-content: space-between;
    margin-left: 40px;
    gap: 40px;
}
.nav_serchbar {
    display: flex;
    align-items: center;
}
.inputserach{
    width: 500px;
    height: 35px;
    border-bottom-left-radius: 7px;
    border-top-left-radius: 7px;
    border-top-right-radius:0px ;
    border-bottom-right-radius: 0px;
    font-size: 20px;
}
.serach_icon{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: orange;
    height: 33px;
    padding: 3px;
    font-size: 25px;
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;
}
.navlogo img{
    width:auto;
    height: 60px;
}
.right{
    
    display: flex;
     gap: 20px;
    justify-content: space-between;
    align-items: center;
    color: #ffff;
    margin-right: 10px;
}

.nav_btn a {
  text-decoration: none;
  color: #ffff;
  margin: 20px;
}

.nav_btn a:hover{
  border: 1px #ffff;  
  color: red;
} 
.cart_btn {
    display: flex;
    align-items: center;
}
.item_num{
    width: 20px;
    height: 20px;
    background-color: red;
    color: #ffff;
    text-align: center;
    border-radius: 50%;
}
#cart{
    font-size: 30px;
}
.profileimage img{
    width: auto;
    height: 40px;
    border-radius: 50%;

} 

